* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --main-color:#070707;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-color) !important;
}
.App{
  position: relative;
}
a{
  text-decoration: none !important;
}