.card {
  position: relative;
}
.ranking {
  position: absolute;
  top: 49%;
  left: 50%;
  font-size: 120px;
  font-weight: 900;
  opacity: 0.38;
  color: black;
  -webkit-text-stroke: 4px #ffffffe8;
  transform: translate(-50%, -60%) !important;
  transition: .2s;
}
.card:hover .ranking{
    opacity: 0;
}
